<div class="page">
    <div class="knowledge">
        <img class="logo_node" src="../../../../../../assets/node_logo.png" alt="">
        <div class="tech">
            <div class="exp mat-elevation-z8">
                <p class="information">
                    <br><br>Experiência no desenvolvimento de <b>APIs RESTful</b> e <b>Graphql</b>.<br><br>
                    Node com <b>Javascript</b> ou <b>Typescript</b>.<br>
                    Desenvolvimento de <b>Microservices</b>.<br>
                    Desenvolvimento de <b>Inteligência Artificial</b> com Tensorflow, desenvolvendo reconhecimento de imagens, previsões de dados e ações automáticas.<br><br>
                </p>
            </div>
            <div class="dev mat-elevation-z8">
                <div class="dev-title">Algumas Tecnologias</div>
                <div class="dev-body">
                    <ul>
                        <li>Express</li>
                        <li>Passport</li>
                        <li>Bcrypt</li>
                        <li>Jwt</li>
                        <li>Ejs</li>
                        <li>Tensorflow</li>
                        <li>Mongoose</li>
                        <li>Pipe lines</li>
                        <li>P2M</li>
                    </ul>
                    <ul>
                        <li>Jest</li>
                        <li>Request</li>
                        <li>Debug</li>
                        <li>Socket.io</li>
                        <li>GraphQL</li>
                        <li>Winston</li>
                        <li>ETC...</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="knowledge">
        <img class="logo_devops" src="../../../../../../assets/devops.png" alt="">
        <div class="tech">
            <div class="exp mat-elevation-z14">
                <div class="information">
                    <p><br><br>
                        Experiência liderando times e desenvolvendo toda a cultura na empresa, aumentando a entrega, a produtividade e reduzindo erros.<br>

                        Esta é com certeza uma das tarefas mais difíceis e gratificantes. Uma empresa que não possui alguem para isso perde muito !<br><br>

                        "If you quantify one thing, quantify cost of delay."<br> Donald G. Reinertsen
                    </p>
                </div>
            </div>
            <div class="dev mat-elevation-z14">
                <div class="dev-title">Algumas Tecnologias</div>
                <div class="dev-body">
                    <ul>
                        <li>AWS</li>
                        <li>Digital Ocean</li>
                        <li>Docker</li>
                        <li>Kubernetes</li>
                        <li>Nginx</li>
                        <li>Traefik</li>
                        <li>Gitlab</li>
                        <li>Rancher</li>
                        <li>Jira</li>
                    </ul>
                    <ul>
                        <li>Redmine</li>
                        <li>Scrum</li>
                        <li>Confluence</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="knowledge">
        <img class="logo_python" src="../../../../../../assets/python.png" alt="">
        <div class="tech">
            <div class="exp mat-elevation-z14">
                <div class="information">
                    <p>
                        <br>Experiência com APIs RESTful e Microservices.<br>
                        Desenvolvimento de inteligência artificial:<br>
                    </p>
                    <ul>
                        <li>Regressão linear</li>
                        <li>Regressão linear múltipla</li>
                        <li>Rede Neural Convolucional</li>
                        <li>K - Vizinhos mais próximos</li>
                        <li>Rede Neural Recorrente</li>
                    </ul>
                    <p>Chatbots com Tensorflow. Responsável pelo chatbot do Tribunal Regional Eleitoral.</p>
                </div>

            </div>
            <div class="dev mat-elevation-z14">
                <div class="dev-title">Algumas Tecnologias</div>
                <div class="dev-body">
                    <ul>
                        <li>Tensorflow</li>
                        <li>Keras</li>
                        <li>Matplotlib</li>
                        <li>Numpy</li>
                        <li>Scikit</li>
                        <li>Seaborn</li>
                        <li>Sklearn</li>
                        <li>Pandas</li>
                        <li>Flask</li>
                    </ul>
                    <ul>
                        <li>Spacy</li>
                        <li>NLTK</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="knowledge">
        <img class="logo_java" src="../../../../../../assets/java.png" alt="">
        <div class="tech">
            <div class="exp mat-elevation-z14">
                <div class="information">
                    <p><br><br>
                        Experiência com APIs RESTful e stand-alone applications.<br><br>
                        Manutenção de código e operações multithread.<br>
                        Suporte RMB banco Banestes.<br>
                        Java para desenvolvimento Android.<br><br>
                        Jira Developer
                    </p>
                </div>
            </div>
            <div class="dev mat-elevation-z14">
                <div class="dev-title">Algumas Tecnologias</div>
                <div class="dev-body">
                    <ul>
                        <li>EJB</li>
                        <li>Maven</li>
                        <li>Spring Boot, MVC</li>
                        <li>JUnit</li>
                        <li>Gradle</li>
                        <li>Velocity</li>
                        <li>Swing</li>
                        <li>Jdbc</li>
                        <li>Jsf</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="knowledge">
        <img class="logo_angular" src="../../../../../../assets/angular.png" alt="">
        <div class="tech">
            <div class="exp mat-elevation-z14">
                <div class="information">
                    <p><br><br>Angular 8, ferramenta ideal para completar a famosa Stack "MEAN".<br></p>
                    <p>Este site foi feito com Angular !</p><br>
                    <p>Angular tem um grande futuro pela popularidade e funcionalidade! Estrutura de código limpo, diretivas e compatibilidade são algumas de suas grandes características.</p>
                </div>
            </div>
            <div class="dev mat-elevation-z14">
                <div class="dev-title">Algumas Tecnologias</div>
                <div class="dev-body">
                    <ul>
                        <li>Animations</li>
                        <li>Material</li>
                        <li>Rxjs</li>
                        <li>Graphql</li>
                        <li>Socket.io</li>
                        <li>Restful</li>
                        <li>SCSS e SASS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>

