/* Using SCSS variables to store breakpoints */
$breakpoint-min-HD: 900px;
$breakpoint-max-HD: 1400px;

$breakpoint-max-mobile: 899px;

@media (max-width: 5000px) and (min-width: $breakpoint-min-HD) {
  .page {
    margin-top: -30px;
    flex-wrap: wrap;

    .knowledge {
      display: flex;
      margin-top: 45px;
      flex-direction: column;

      .logo_node {
        order: 0;
        z-index: 5;
        margin-left: 26px;
        margin-top: 10px;
        height: 58px;
        width: 92px;
      }

      .logo_python {
        order: 0;
        z-index: 5;
        margin-left: 10px;
        margin-top: -50px;
        height: 100px;
        width: 100px;
      }

      .logo_java {
        order: 0;
        z-index: 5;
        margin-left: 10px;
        margin-top: -30px;
        height: 90px;
        width: 100px;
      }

      .logo_angular {
        order: 0;
        z-index: 5;
        margin-left: 24px;
        margin-top: -20px;
        margin-bottom: 15px;
        height: 37px;
        width: 140px;
      }

      .logo_devops{
        order: 0;
        z-index: 5;
        margin-left: 24px;
        margin-top: -22px;
        margin-bottom: 19px;
        height: 37px;
        width: 80px;
      }

      .tech {
        order: 1;
        margin-top: -40px;
        display: flex;

        .exp {
          flex-direction: column;
          margin-left: 20px;
          margin-top: 10px;
          order: 1;
          height: 220px;
          width: 450px;
          background-color: #f9f9fa;
          font-family: Calibri, serif;
          overflow-y: scroll;


          .information {
            margin: 10px;
          }
        }

        .dev {
          display: flex;
          flex-direction: column;
          margin: 10px;
          flex-grow: 1;
          order: 2;
          height: 220px;
          width: 300px;
          background-color: #f9f9fa;

          .dev-title {
            align-self: center;
            font-size: 20px;
            margin-top: -20px;
          }

          .dev-body {
            display: flex;
            flex-direction: row;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-max-mobile) {
  .page {
    flex-wrap: wrap;

    .tech {
      margin-top: 35px;
      display: flex;

      .exp {
        margin-left: 20px;
        margin-top: 10px;
        order: 1;
        height: 220px;
        width: 450px;
        background-color: #f9f9fa;


        .information {
          font-size: 40px;
          margin: 10px;
        }

        .logo_node {
          margin-left: 7px;
          margin-top: -30px;
          height: 60px;
          width: 92px;
        }

        .logo_python {
          margin-top: -50px;
          height: 100px;
          width: 100px;
        }
      }

      .dev {
        margin: 10px;
        flex-grow: 1;
        order: 2;
        height: 220px;
        width: 300px;
        background-color: #f9f9fa;

        .dev-title {
          align-self: center;
          font-size: 22px;
          margin-top: -20px;
        }

        .dev-body {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}
