<div class="main_page">
    <div class="panel">
        <mat-toolbar class="resume_tool">
            <span>Resume</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>
        <mat-tab-group mat-stretch-tabs class="body_resume">
            <mat-tab label="ABOUT ME"><app-about></app-about></mat-tab>
            <mat-tab label="TECHNOLOGIES"><app-technologies></app-technologies></mat-tab>
            <mat-tab label="EXPERIENCE"><app-experience></app-experience></mat-tab>
        </mat-tab-group>
    </div>
</div>