/* Using SCSS variables to store breakpoints */
$breakpoint-min-HD: 900px;
$breakpoint-max-HD: 2400px;
//$breakpoint-max-HD: 1400px;

$breakpoint-max-mobile: 899px;

@media (max-width: $breakpoint-max-HD) and (min-width: $breakpoint-min-HD) {
  .main_page {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #2b3041;
    margin-left: 24px;
    //background-image: url('../../../../../assets/node.jpg');
    //background-size: cover;1

    .panel {
      display: flex;
      flex-direction: column;
      order: 1;
      width: 100%;
      height: 100%;
      background-color: white;

      .resume_tool {
        order: 0;
        background-color: #0c1e3e;
        color: #dddddd;
        width: 100%;
        height: 40px;
      }
      .body_resume{
        width: 100%;
        height: 510px;
        order: 1;
      }
    }
    .example-spacer {
      flex: 1 1 auto;
    }
  }
}

@media (max-width: $breakpoint-max-mobile) {
  .main_page {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-grow: 1;
    background-color: #2b3041;
    //background-image: url('../../../../../assets/node.jpg');
    //background-size: cover;1
    .space{
      margin: 0;
      flex: 1;
      width: 5px;
    }
    .panel {
      margin: 0;
      flex-wrap: wrap;
      flex: 2;
      width: 96%;
      height: 95%;
      background-color: white;
    }
    .example-spacer {
      flex: 1 1 auto;
    }

    .resume_tool {
      background-color: #0c1e3e;
      color: #dddddd;
      height: 40px;
    }
  }

  .space{
    display: none;
  }
}