<div class="face">
    <div class="sign">
        <span class="fast-flicker">R</span>EN<span class="flicker">A</span>N
    </div>

    <img src="assets/eu.jpg" alt="Avatar" class="pic mat-elevation-z15"/>
    <div class="description">
        <h1>DEVELOPER</h1>
        <p>


        </p>
    </div>
    <audio class="mp3" controls loop>
        <source src="assets/nora2.mp3" type="audio/mp3">
    </audio>
</div>
