$breakpoint-min-HD: 900px;
$breakpoint-max-HD: 2400px;
//$breakpoint-max-HD: 1400px;

$breakpoint-max-mobile: 899px;


@media (max-width: $breakpoint-max-HD) and (min-width: $breakpoint-min-HD) {
  .face {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .sign {
      order: 0;
      margin-top: -10px;
      background-image: radial-gradient(
                      ellipse 50% 35% at 50% 50%,
                      #6b1839,
                      transparent
      );
      letter-spacing: 2px;
      font-family: Cyberpunk, serif;
      text-transform: uppercase;
      font-size: 4em;
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
      animation: shine_title 2s forwards, flicker 3s infinite;
    }

    .pic {
      border-radius: 50%;
      margin-top: 70px;
      order: 1;
      width: 160px;
      height: 160px;
      animation: shine_pic 4s infinite;

    }

    .description {
      order: 2;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Cyberpunk", Roboto, "Helvetica Neue", sans-serif;

      h1 {
        font-family: "Cyberpunk", Roboto, "Helvetica Neue", sans-serif;
        order: 1;
        margin-top: 10px;
        font-size: 35px;
        color: white;
      }

      p {
        text-align: center;
        order: 2;
        margin-top: 10px;
        font-size: 24px;
        color: white;
      }
    }
    .mp3 {
      order: 3;
      margin-top: 45%;
      height: 30px;
    }
  }
}

@media (max-width: $breakpoint-max-mobile){
  .face {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .sign {
      order: 1;
      margin-top: -1px;
      background-image: radial-gradient(
                      ellipse 50% 35% at 50% 50%,
                      #6b1839,
                      transparent
      );
      letter-spacing: 2px;
      font-family: Cyberpunk, serif;
      text-transform: uppercase;
      font-size: 4em;
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
      animation: shine_title 2s forwards, flicker 3s infinite;
    }

    .pic {

      margin-top: 45px;
      order: 2;
      border-radius: 50% 50%;
      width: 250px;
      height: 250px;
      animation: shine_pic 2s infinite;

    }

    .description {
      order: 3;
      display: flex;
      margin-bottom: 135px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Cyberpunk", Roboto, "Helvetica Neue", sans-serif;

      h1 {
        font-family: "Cyberpunk", Roboto, "Helvetica Neue", sans-serif;
        order: 1;
        margin-top: 10px;
        font-size: 42px;
        color: white;
      }

      p {
        text-align: center;
        order: 2;
        margin-top: 10px;
        font-size: 24px;
        color: white;
      }
    }
    .mp3 {
      order: 4;
      height: 30px;
      width:100%;
    }
  }
}

// NEON

@font-face {
  font-family: Cyberpunk, Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
  linear-gradient(155deg, black 23px, transparent 23px),
  linear-gradient(335deg, black 23px, transparent 23px),
  linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0 2px, 4px 35px, 29px 31px, 34px 6px;
}

@keyframes shine_pic {
  0% {
    color: #0a1fde;
    text-shadow: none;
  }
  60%{
    color: #1289d7;
    box-shadow: 0 0 0.6rem #151414, 0 0 1.5rem #091c86,
    -0.5rem 0.1rem 1rem #0e0d0d, 0.2rem 0.1rem 1rem #1c4bcb,
    0 -0.8rem 2rem #3a4169, 0 0.5rem 3rem #688bd9;
  }
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine_title 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine_title 2s forwards, blink 10s 1s infinite;
}

@keyframes shine_title {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
