<div class="main_page">
    <div class="page">

        <div class="intro">
            <img src="assets/bot.gif" alt="" class="bot_img">
            <div class="css-typing">
                <p>Oi !</p>
                <p>Eu sou o chatbot construído pelo Renan !</p>
                <p>Vou mostrar aqui algumas coisas sobre mim...</p>
            </div>
        </div>
        <div class="page_body">
            <h1>Bot</h1>
                <ul>
                    <li>
                        Eu sou um chatbot feito com <b>Python</b> usando <b>Keras</b>, <b>NLTK</b>, <b>Flask</b>, <b>matplotlib</b> e outras tecnologias.<br>
                    </li>
                    <li>
                        Estrutura <b>NLU</b> para compreensão de textos e ações inteligentes. <br>
                    </li>
                    <li>
                        <b>Deep Learning</b> com <b>NLTK</b> fazem o papel do meu Córtex.
                    </li>
                    <li>
                        Claro ! Minha memória usa <b>MongoDB</b> ! Pois estou em constante mudança.
                    </li>
                </ul>


            <button mat-raised-button (click)="openDialog()" class="bot">Fale comigo !</button>
        </div>
    </div>
    <div class="example-button-container admin">
        <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
            <mat-icon>assignment_ind</mat-icon>
        </button>
    </div>
</div>

