$breakpoint-min-HD: 900px;
$breakpoint-max-HD: 2400px;
//$breakpoint-max-HD: 1400px;

$breakpoint-max-mobile: 899px;

@media (max-width: $breakpoint-max-HD) and (min-width: $breakpoint-min-HD){
  .menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .btn {
      margin-right: 10px;
      display: flex;
      flex-grow: 1;
    }

    .btn:hover {
      color: black;
      animation: shine_menu 2s infinite;
      animation-timing-function: ease-out;
    }
  }
}

@media (max-width: $breakpoint-max-mobile){

  .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .btn {
     flex-grow: 1;
    }
    .btn:hover {
      color: black;
      animation: shine_menu 2s infinite;
      animation-timing-function: ease-out;
    }

  }

}


@keyframes shine_menu {
  0% {
    color: #04136d;
    text-shadow: none;
  }
  60%{

    color: #abaff5;
    text-shadow: 0 0 0.6rem #e6e9ff, 0 0 1.5rem #4c9be2,
    -0.2rem 0.1rem 1rem #191d9f, 0.2rem 0.1rem 1rem #3a75ba,
    0 -0.5rem 2rem #09044c, 0 0.5rem 3rem #1a33ab;
  }
}