/* Using SCSS variables to store breakpoints */
$breakpoint-min-HD: 900px;
$breakpoint-max-HD: 1400px;

$breakpoint-max-mobile: 899px;

@media (max-width: $breakpoint-max-HD) and (min-width: $breakpoint-min-HD) {
  .page {
    flex-wrap: wrap;
    .tech {
      display: flex;

      .exp{
        margin-left: 20px;
        margin-top: 10px;
        order: 1;
        height: 220px;
        width: 450px;
        background-color: #2b3041;

        img{
          height: 10%;
          width: 10%;
        }
      }

      .dev{
        margin: 10px;
        flex-grow: 1;
        order: 2;
        height: 220px;
        width: 300px;
        background-color: #2b3041;
      }
    }
  }
}

@media (max-width: $breakpoint-max-mobile) {

}
