<div class="chat_window">

    <div class="title">Chatbot</div>
    <p class="session" *ngIf="logged"><b>{{email}}</b></p>
    <div class="line"></div>

    <div *ngIf="!logged" class="login">

        <div class="login_information">
            <p class="welcome"><br><br><br>Antes de falar comigo preciso saber quem você é !<br>
            Coisa de Socket.io sabe...</p>
        </div>
        <mat-form-field class="example-full-width field">
            <mat-label>Email</mat-label>
            <input (keyup)="onKey($event)" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                   placeholder="Ex. pat@example.com">
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <button [disabled]="emailFormControl.hasError('email') && !emailFormControl.hasError('required') || !submit" class="submit" ng-disabled="True" (click)="validate()" >Iniciar</button>
    </div>

    <div *ngIf="logged" class="chat" id="chat" #inner_chat>

        <div class="bot"><p>Oi ! Tudo bem ? fdsa fasdf asd fasdfasd fasd fasdfasdfasdf asdf asd safasdfasdfasdf asd fasd fasf asd fasd fs{{email}}</p></div>


    </div>


    <div class="line2"></div>
    <div *ngIf="logged" class="send">
        <mat-form-field class="input_text">
            <mat-label>Talk to the bot !</mat-label>
            <label>
                <input matInput placeholder="Hi !">
            </label>
        </mat-form-field>
        <mat-icon class="send_btn" (click)="send_message()">send</mat-icon>
    </div>
</div>