<div class="page">
    <h1><br>Ola !</h1>

    <p>Meu nome é <b>Renan Soares Fernandes</b> ! Tenho 30 anos.</p>
    <p>Sou programador e montei esta página para ajudar você a conhecer um pouco mais sobre mim !<br></p>

    <p>Trabalhei na Sensiple em Boston como desenvolvedor <b>Node</b>.</p>
    <p>Também trabalhei na CTIS como desenvolvedor <b>Full Stack</b> em algumas tecnologias como <b>React</b>, <b>Angular</b>, <b>Java</b>, <b>Node</b>, <b>Python</b>, <b>IA</b>, <b>Docker</b> entre outras coisas...</p>
    <p>Hoje estou na Coopersystem, liderando o time de inovação, no cargo como DEVOPS, desenvolvendo as diversas aplicações propostas pelo time. Microservices, RabbitMQ, Docker, Kubernets, Sockets, WebRTC, GraphQL e por ai vai !</p>
    <p>Gosto muito de desenvolver coisas novas assim como programar com <b>Node</b>, <b>Python</b>, <b>Angular</b> e <b>MongoDB</b>.</p>
    <p>Em front-end gosto de usar <b>Angular</b>, <b>EJS</b> e <b>React</b>./p>
    <p><br>Implementar a cultura e trabalhar com todo o processo <b>DevOps</b> usando Gitlab, AWS, Digital Ocean, Docker, Nginx ou Traefik, Kubenetes, CI/CD, Rancher documentando com o Confluence e trabalhando com o Jira, Redmine, Scrum, código limpo, TDD, operação e monitoramento.<br></p>

    <p><br>Minha primeira graduação foi em Ciências Aeronáuticas ! Fui piloto por 8 anos !</p>
    <p>Aqui algumas das minhas certificações na area da aviação ! Não que isso vá interessar, mas esta página e sobre mim não é verdade ? 🤣<br></p>
    <ul>
        <li>Majored in Civil Aviation</li>
        <li>Comercial Pilot Multi-Engine/IFR</li>
        <li>JET TRAINING A320 - EJ - 2016</li>
        <li>CFI (INVA) in 2015.</li>
        <li>Airport attendent on AZUL – 2014/2016</li>
        <li>Aviation Maintenance Technician (AMT) (CEL) – 2009</li>
        <li>Maintenance Technical Engineer (AMTE) (GMP) – 2014</li>
        <li>SDEA (ICAO) - English Level 5.</li>
    </ul>

    <p>Já fui carpinteiro em Boston, professor de teoria de voo para pilotos e comissários, instrutor de voo e trabalhei na Azul até 2016.</p>


</div>

