/* Using SCSS variables to store breakpoints */
$breakpoint-min-HD: 900px;
$breakpoint-max-HD: 2400px;
//$breakpoint-max-HD: 1400px;

$breakpoint-max-mobile: 899px;

@media (max-width: $breakpoint-max-HD) and (min-width: $breakpoint-min-HD) {
  .main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;


    width: 1200px;
    height: 550px;

    app-menu {
      display: flex;
      justify-content: space-between;
      align-content: space-between;
      order: 2;
      z-index: 2;
      background-color: #2b3041;
      width: 65px;
      height: 100%;
    }

    app-face-hider {
      display: flex;
      flex-direction: column;
      align-items: center;

      background-image: url(~src/assets/obsolete.gif);
      background-repeat: no-repeat;
      background-size: cover;

      z-index: 3;
      order: 2;
      margin: -2%;
      background-color: #0a314f;
      width: 370px;
      height: 107%;
    }

    .animated-body {
      z-index: 1;
      justify-content: flex-end;
      width: 800px;
      order: 3;
      height: 550px;
      //animation: panelOutRight 4s;
      //animation-iteration-count: infinite;
    }
  }
  .toBottom{
    display: none;
  }
}

@media (max-width: $breakpoint-max-mobile) {

  .main {
    width: 100%;
    scroll-behavior: smooth;
    margin-top: -11px;
    display: flex;
    flex-direction: column;
    position: absolute;

    .toBottom{
      opacity: .4;
      top: 10px;
      left: 88%;
      flex: 1;
      z-index: 5;
      background-color: #142599;
    }

    app-menu {
      order: 3;
      z-index: 2;
      background-color: white;
    }

    app-face-hider {
      display: flex;
      justify-content: flex-end;
      margin-top: -43px;
      order: 2;
      padding-top: 2%;
      background-image: url(~src/assets/retrook.gif);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 98ch;

      z-index: 3;
      background-color: #0a314f;
    }

    .animated-body {
      align-items: center;
      order: 4;
      z-index: 1;
      flex-grow: 1;
      width: 100%;
      height: 1000px;
      //animation: panelOutRight 4s;
      //animation-iteration-count: infinite;
    }
  }
}


//@keyframes  panelInLeft{
//  100% {
//    opacity: 0;
//    width: 50px;
//    transform: translateX(-700px) scaleX(.1);
//  }
//  20%{
//    opacity: 1;
//    transform: translateX(-100px)
//  }
//  0%{
//    opacity: 1;
//    width: 500px;
//    transform: translateX(0) scaleX(1);
//  }
//}
//
//@keyframes  panelOutRight{
//  100% {
//    opacity: 1;
//    width: 500px;
//    transform: translateX(0) scaleX(1);
//  }
//  20%{
//    opacity: 1;
//    transform: translateX(-100px)
//  }
//  0%{
//    opacity: 0;
//    width: 50px;
//    transform: translateX(-700px) scaleX(.1);
//  }
//}


