<div class="main" #panel>

<div class="example-button-container">
    <button mat-mini-fab aria-label="Example icon button with a home icon" class="toBottom" (click)="toMenu('menu')">
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
</div>

    <app-menu id="menu" class="mat-elevation-z24"></app-menu>
    <app-face-hider class="mat-elevation-z24"></app-face-hider>
    <div class="animated-body mat-elevation-z24" [@routeAnimations]="prepareRoute(outlet)"><router-outlet #outlet="outlet"></router-outlet></div>
</div>


<ul>
<!--    <li *ngFor="let u of user">-->
<!--        <app-main-page usuario="u" ></app-main-page>-->
<!--    </li>-->
</ul>


