/* Using SCSS variables to store breakpoints */
$breakpoint-min-HD: 900px;
$breakpoint-max-HD: 2400px;
//$breakpoint-max-HD: 1400px;

$breakpoint-max-mobile: 899px;


.main_page {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  height: 100%;
  width: 100%;
  background-color: white;

  .admin{
    order: 1;
    width: 40px;
    height: 30px;
  }


  .page {
    margin-left: 24px;
    width: 100%;
    order: 0;
    display: flex;
    flex-direction: column;


    .intro {
      order: 1;
      margin: 50px;
      display: flex;
      align-self: start;
      align-items: center;
      flex-direction: row;

      .bot_img {
        order: 0;
        height: 150px;
        width: 150px;
      }

      .css-typing p {
        order: 1;
        margin-left: 30px;
        border-right: .15em solid orange;
        font-family: "Courier", serif;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
      }
      .css-typing p:nth-child(1) {
        width: 5.3em;
        -webkit-animation: type 2s steps(40, end);
        animation: type 2s steps(40, end);
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }

      .css-typing p:nth-child(2) {
        width: 24.5em;
        opacity: 0;
        -webkit-animation: type2 2s steps(40, end);
        animation: type2 2s steps(40, end);
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }

      .css-typing p:nth-child(3) {
        width: 25.3em;
        opacity: 0;
        -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
        animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
        -webkit-animation-delay: 4s;
        animation-delay: 4s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }
    }
    .page_body{
      display: flex;
      margin-left: 20px;
      flex-direction: column;
      align-content: end;
      order: 2;
      .bot {
        margin-top: 60px;
        order: 4;
        height: 100%;
      }
    }
  }
}
@media (max-width: $breakpoint-max-mobile) {
  .main_page{
    max-width: 100%;
    .space {
      display: none;
    }
  }
  .bot_img {
    order: 0;
    height: 50px;
    width: 50px;
  }
}


@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}