.chat_window{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 550px;
  border: #2b3041;
  overflow-y: hidden;


  .title{
    margin-top: 15px;
    align-self: center;
    font-family: "Arial Black", serif;
    color: #142599;
    font-size: 60px;
    margin-bottom: 30px;
  }

  .session{
    color: #2b2a5c;
    font-size: 12px;
  }
  .login{
    flex-direction: column;
    align-content: center;
    display: flex;
    width: 100%;
    height: 900px;
    background-color: white;

    .welcome{
      align-self: center;
      text-align: center;
      font-size: 18px;
    }

    .field{
      margin-top: 30px;
      order: 1;
    }

    .submit{
      margin-top: 50px;
      order: 2;
    }
    .login_information{
      order: 0;
      width: 100%;
      height: 30%;
    }

    .example-form {
      margin-top: 40%;
      min-width: 150px;
      max-width: 100%;
      width: 100%;
    }

    .example-full-width {
      width: 100%;
    }
  }

  .chat{
    order: 2;
    flex: 1;
    width: 100%;
    height: 900px;
    border: #2b3041;
    overflow-y: scroll;


    .bot{
      display: flex;
      align-items: flex-end;
      align-self: flex-start;
      margin-top: 18px;
      width: 65%;
      clip-path: polygon(100% 0, 100% 83%, 14% 84%, 0 100%, 0 0);
      background-color: #d7e7f3;
      p{
        padding-top: 10px;
        padding-bottom: 15px;
        padding-left: 20px;
        font-family: Calibri, serif;
      }
    }
    .user{
      margin-left: 35%;
      align-self: flex-end;
      margin-top: 12px;
      height: 40px;
      width: 65%;
      clip-path: polygon(100% 0, 100% 100%, 89% 85%, 0 85%, 0 0);
      background-color: #f0f1f6;

      p{
        padding-top: 10px;
        padding-bottom: 15px;
        padding-left: 20px;
        font-family: Calibri, serif;
      }
    }
  }

  .send{
    align-content: space-between;
    order: 4;
    align-items: flex-end;

    .input_text {
      height: 40px;
      width: 85%;
    }
    .send_btn{
      transform: translateY(12px);
      margin-left: 20px;
      color: #0a1fde;
      height: 40px;
    }
    .send_btn:hover {
      cursor: pointer;
      animation: shine_send 2s infinite;
    }
  }

  .line{
    order: 1;
    height: 1px;
    background-color: #dddddd;
  }

  .line2{
    margin-bottom: 8px;
    order: 3;
    height: 1px;
    background-color: #dddddd;
  }

}

@keyframes shine_send {
  0% {
    color: #0a1fde;
    text-shadow: none;
    transform: translateY(12px);
  }
  60%{
    color: #1289d7;
    transform: translate(8px, 12px);
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #091c86,
    -0.2rem 0.1rem 1rem #a7ace5, 0.2rem 0.1rem 1rem #1c4bcb,
    0 -0.5rem 2rem #3a4169, 0 0.5rem 3rem #688bd9;
  }
}

@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0,0,0,0.2)
  }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0,0,0,0.2)
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}