/* Using SCSS variables to store breakpoints */
$breakpoint-min-HD: 900px;
$breakpoint-max-HD: 1800px;

$breakpoint-max-mobile: 899px;

@media (max-width: $breakpoint-max-HD) and (min-width: $breakpoint-min-HD) {
  .page {
    margin-top: -30px;
    flex-wrap: wrap;

    .knowledge {
      display: flex;
      margin-top: 45px;
      flex-direction: column;

      .logo_node {
        order: 0;
        z-index: 5;
        margin-left: 26px;
        margin-top: 10px;
        height: 58px;
        width: 92px;
      }
      .devops {
        order: 0;
        z-index: 5;
        margin-left: 26px;
        margin-top: 10px;
        height: 50px;
        width: 90px;
      }

      .logo_python {
        order: 0;
        z-index: 5;
        margin-left: 10px;
        margin-top: -50px;
        height: 100px;
        width: 100px;
      }

      .logo_java {
        order: 0;
        z-index: 5;
        margin-left: 10px;
        margin-top: -50px;
        height: 90px;
        width: 100px;
      }

      .logo_angular {
        order: 0;
        z-index: 5;
        margin-left: 24px;
        margin-top: -20px;
        height: 37px;
        width: 140px;
      }

      .tech {
        order: 1;
        margin-top: -40px;
        display: flex;

        .exp {
          flex-direction: column;
          margin-left: 20px;
          margin-top: 10px;
          order: 1;
          height: 220px;
          width: 450px;
          background-color: #f9f9fa;
          font-family: Calibri, serif;
          overflow-y: scroll;


          .information {
            margin: 10px;
          }
        }

        .dev {
          display: flex;
          flex-direction: column;
          margin: 10px;
          flex-grow: 1;
          order: 2;
          height: 220px;
          width: 300px;
          background-color: #f9f9fa;

          .dev-title {
            align-self: center;
            font-size: 20px;
            margin-top: -20px;
          }

          .dev-body {
            display: flex;
            flex-direction: row;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-max-mobile) {
  .page {
    margin-top: -30px;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 891px;

    .knowledge {
      display: flex;
      margin-top: 45px;
      flex-direction: column;

      .logo_node {
        order: 0;
        z-index: 5;
        margin-left: 26px;
        margin-top: 10px;
        height: 58px;
        width: 92px;
      }
      .devops {
        order: 0;
        z-index: 5;
        margin-left: 26px;
        margin-top: 10px;
        height: 50px;
        width: 90px;
      }

      .logo_python {
        order: 0;
        z-index: 5;
        margin-left: 10px;
        margin-top: -50px;
        height: 100px;
        width: 100px;
      }

      .logo_java {
        order: 0;
        z-index: 5;
        margin-left: 10px;
        margin-top: -50px;
        height: 90px;
        width: 100px;
      }

      .logo_angular {
        order: 0;
        z-index: 5;
        margin-left: 24px;
        margin-top: -20px;
        height: 37px;
        width: 140px;
      }

      .tech {
        order: 1;
        margin-top: -40px;
        display: flex;

        .exp {
          flex-direction: column;
          margin-left: 20px;
          margin-top: 10px;
          order: 1;
          height: 220px;
          width: 450px;
          background-color: #f9f9fa;
          font-family: Calibri, serif;
          overflow-y: scroll;


          .information {
            margin: 10px;
          }
        }

        .dev {
          display: flex;
          flex-direction: column;
          margin: 10px;
          flex-grow: 1;
          order: 2;
          height: 220px;
          width: 300px;
          background-color: #f9f9fa;

          .dev-title {
            align-self: center;
            font-size: 20px;
            margin-top: -20px;
          }

          .dev-body {
            display: flex;
            flex-direction: row;
          }
        }
      }
    }
  }
}
