<div class="page">

    <div class="knowledge">
        <img class="devops" src="assets/devops.png" alt="">
        <div class="tech">
            <div class="exp mat-elevation-z8">
                <p class="information">
                    <br><br>Implementação do processo e cultura <b>DEVOPS</b>.<br><br>
                    Envolver a equipe com a cultura DEVOPS, desta forma, melhorando a produtividade, qualidade de código e entrega constante!.<br>
                    Versionando as entregas, supervisionando o servidor, documentando e ensinando a equipe para crescermos todos juntos !<br>
                </p>
            </div>
            <div class="dev mat-elevation-z8">
                <div class="dev-title">Algumas Tecnologias</div>
                <div class="dev-body">
                    <ul>
                        <li>Gitlab CI/CD</li>
                        <li>Runners</li>
                        <li>Scrum</li>
                        <li>Jenkins</li>
                        <li>Docker</li>
                        <li>Kubernets</li>
                        <li>PowerBI</li>
                        <li>Confluence</li>
                        <li>Jira</li>
                    </ul>
                    <ul>
                        <li>Redmine</li>
                        <li>AWS</li>
                        <li>Digital Ocean</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="knowledge">
        <img class="logo_node" src="assets/node_logo.png" alt="">
        <div class="tech">
            <div class="exp mat-elevation-z8">
                <p class="information">
                    <br><br>Experiência no desenvolvimento de <b>APIs RESTful</b> e <b>Graphql</b>.<br><br>
                    Node com <b>Javascript</b> ou <b>Typescript</b>.<br>
                    Desenvolvimento de <b>Microservices</b>.<br>
                    Desenvolvimento de <b>inteligência artificial</b> com Tensorflow, desenvolvendo reconhecimento de imagens, previsões de dados e ações automáticas.<br><br>
                    APIs não bloqueantes e principal tecnologia do PayPal, Uber, Netflix, Walmart e outros.
                </p>
            </div>
            <div class="dev mat-elevation-z8">
                <div class="dev-title">Algumas Tecnologias</div>
                <div class="dev-body">
                    <ul>
                        <li>Express</li>
                        <li>Passport</li>
                        <li>Bcrypt</li>
                        <li>Jwt</li>
                        <li>Ejs</li>
                        <li>Tensorflow</li>
                        <li>Mongoose</li>
                        <li>Pipe lines</li>
                        <li>P2M</li>
                    </ul>
                    <ul>
                        <li>Jest</li>
                        <li>Request</li>
                        <li>Debug</li>
                        <li>Socket.io</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="knowledge">
        <img class="logo_python" src="assets/python.png" alt="">
        <div class="tech">
            <div class="exp mat-elevation-z14">
                <div class="information">
                    <p>
                        <br>Experiência com APIs RESTful e Microservices.<br>
                        Desenvolvimento de inteligência artificial:<br>
                    </p>
                    <ul>
                        <li>Regressão linear</li>
                        <li>Regressão linear múltipla</li>
                        <li>Rede Neural Convolucional</li>
                        <li>K - Vizinhos mais próximos</li>
                        <li>Rede Neural Recorrente</li>
                    </ul>
                    <p>Chatbots com Tensorflow. Responsável pelo chatbot do Tribunal Regional Eleitoral.</p>
                </div>

            </div>
            <div class="dev mat-elevation-z14">
                <div class="dev-title">Algumas Tecnologias</div>
                <div class="dev-body">
                    <ul>
                        <li>Tensorflow</li>
                        <li>Keras</li>
                        <li>Matplotlib</li>
                        <li>Numpy</li>
                        <li>Scikit</li>
                        <li>Seaborn</li>
                        <li>Sklearn</li>
                        <li>Pandas</li>
                        <li>Flask</li>
                    </ul>
                    <ul>
                        <li>Spacy</li>
                        <li>NLTK</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="knowledge">
        <img class="logo_java" src="assets/java.png" alt="">
        <div class="tech">
            <div class="exp mat-elevation-z14">
                <div class="information">
                    <p><br><br>
                        Experiência com APIs RESTful e stand-alone applications.<br><br>
                        Manutenção de código e operações multithread.<br>
                        Suporte RMB banco Banestes.<br>
                        Java para desenvolvimento Android.<br><br>
                        Jira Developer
                    </p>
                </div>
            </div>
            <div class="dev mat-elevation-z14">
                <div class="dev-title">Algumas Tecnologias</div>
                <div class="dev-body">
                    <ul>
                        <li>EJB</li>
                        <li>Maven</li>
                        <li>Spring Boot, MVC</li>
                        <li>JUnit</li>
                        <li>Gradle</li>
                        <li>Velocity</li>
                        <li>Swing</li>
                        <li>Jdbc</li>
                        <li>Jsf</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="knowledge">
        <img class="logo_angular" src="assets/angular.png" alt="">
        <div class="tech">
            <div class="exp mat-elevation-z14">
                <div class="information">
                    <p><br><br>Angular 8, ferramenta ideal para completar a famosa Stack "MEAN".<br></p>
                    <p>Este site foi feito com Angular !</p><br>
                    <p>Angular tem um grande futuro pela popularidade e funcionalidade! Estrutura de código limpo, diretivas e compatibilidade são algumas de suas grandes características.</p>
                </div>
            </div>
            <div class="dev mat-elevation-z14">
                <div class="dev-title">Algumas Tecnologias</div>
                <div class="dev-body">
                    <ul>
                        <li>Animations</li>
                        <li>Material</li>
                        <li>Rxjs</li>
                        <li>Graphql</li>
                        <li>Socket.io</li>
                        <li>Restful</li>
                        <li>SCSS e SASS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>

