/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Cyberpunk";
  src: url(assets/Cyberpunk.ttf) format('truetype')
}

html, body {
  margin: 0;
  background-color: black;
  background-image: url(assets/robots.gif);
  background-repeat: repeat;
  background-size: cover;
  z-index: -10;
}

body {
  font-family: Cyberpunk, Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; scroll-behavior: smooth}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
