/* Using SCSS variables to store breakpoints */
$breakpoint-min-HD: 900px;
$breakpoint-max-HD: 1400px;

$breakpoint-max-mobile: 899px;

.page {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  height: 100%;

  h1{
    margin-left: 25px;
    word-wrap: break-word;
  }

  p{
    margin-left: 25px;
    word-wrap: break-word;
  }
  ul{
    margin-left: 25px;
    word-wrap: break-word;
  }
}
@media (max-width: $breakpoint-max-HD) and (min-width: $breakpoint-min-HD) {

}

@media (max-width: $breakpoint-max-mobile) {
  .page{
    max-width: 100%;
    .space {
      display: none;
    }
  }
}
