<mat-button-toggle-group class="menu" name="fontStyle" aria-label="Font Style">
    <mat-button-toggle routerLink="" class="btn mat-elevation-z24" value="Personal"><span class="material-icons">account_circle</span></mat-button-toggle>
    <mat-button-toggle  routerLink="bot" class="btn mat-elevation-z24" value="Chat-bot"><span class="material-icons">adb</span></mat-button-toggle>
    <mat-button-toggle routerLink="projects" class="btn mat-elevation-z24" value="Projects"><span class="material-icons">list_alt</span></mat-button-toggle>
    <mat-button-toggle routerLink="contact" class="btn mat-elevation-z24" value="Contact"><span class="material-icons">call</span></mat-button-toggle>
</mat-button-toggle-group>









